# Ignore all files by default
*

# Except the .gitignore file and README.md
!.gitignore
!README.md

# Allow parent folders
!*/

# List specific files and folders to keep
!Compositions/scenofrog1.avc
!Compositions/Disconnected.avc
!Presets/Advanced Output/scenofrog1.xml
!Presets/Advanced Output/disconnected.xml
!Shortcuts/MIDI/scenofrog1-apc_mini.xml
!Media/media_scenofrog/*